footer.footer
        .footer-faq__block

          .footer-faq__item
                .footer-faq__item-img
                    img(src="../../images/main-FAQ/04.png", alt="", srcset="").image

                .footer-faq__item__info
                  .footer-faq__item__title How Much Does Buying Parts Cost?
                  .footer-faq__item__text All for free! Even if you pay into credit.

          .footer-faq__item
                .footer-faq__item-img
                    img(src="../../images/main-FAQ/06.png", alt="", srcset="").image
                .footer-faq__item__info
                  .footer-faq__item__title How many items can you buy in one go?
                  .footer-faq__item__text How much the soul desires.There are no restrictions on the number of contracts, even if you already have a lot of installments
          .footer-faq__item
                .footer-faq__item-img
                    img(src="../../images/main-FAQ/19.png", alt="", srcset="").image
                .footer-faq__item__info
                  .footer-faq__item__title What is the Part Purchase Limit?
                  .footer-faq__item__text Your installment limit is the Purchase Limit in parts and the number of contracts completed is unlimited.

          .footer-faq__item
                .footer-faq__item-img
                    img(src="../../images/main-FAQ/20.png", alt="", srcset="").image
                .footer-faq__item__info
                  .footer-faq__item__title What documents are required to complete the Part Purchase?
                  .footer-faq__item__text None! You do not even have to waitfor the bank to consider your application, the clearance is instant - a gasp and you are already home with the goods

          .footer-faq__item
                .footer-faq__item-img
                    img(src="../../images/main-FAQ/12.png", alt="", srcset="").image
                .footer-faq__item__info
                  .footer-faq__item__title Will the Commission for payment of the monthly payment on account of credit?
                  .footer-faq__item__text If the monthly payment is credited to the credit funds, the commission is not written off. You really don't overpay.

          .footer-faq__item
                .footer-faq__item-img
                    img(src="../../images/main-FAQ/02.png", alt="", srcset="").image
                .footer-faq__item__info
                  .footer-faq__item__title Where's the trick?
                  .footer-faq__item__text No installments, installments are paid by the store where you shop. Recommended retail pricing policies from suppliers prevent the store from lowering its price. But he's ready to lower your revenue so you can make a purchase. Knowing this, you may want to buy something from our partners.
