header.header
        .header-mobile
            .header-mobile__menu
                img(src="./images/header/Group 1719.svg", alt="", srcset="")
            .header-mobile__bl
                .header-mobile__bl-price
                    img(src="./images/main-Dividents-pool/2-1.png", alt="").header-mobile__bl-img
                    .header-mobile__price 10 000.00
                    .header-mobile__plus +
                .header-mobile__avatar

        img(src="./images/header/Group 1719.svg", alt="", srcset="").header-table-menu

        .header-logo
            img(src="./images/header/Logo.svg", alt="")

        .header-allGame
            img(src="./images/header/gamePad-header.svg", alt="", srcset="").header-allGame__img
            p.header-allGame__text All Games

        .header-clientPart
            .header-clientPart__value
                img(src="./images/header/Group 1707.png", alt="")
                p.header-clientPart__price
                    | 10 532 000
                    span.rest .21
                img(src="./images/header/arrow-down.svg", alt="", srcset="")
            .header-clientPart__buttons
                button.header-button.header-clientPart__deposit Deposit
                button.header-button.header-clientPart__withdraw Withdraw

            .header-clientPart__bell
                img(src="./images/header/bell 1.png", alt="", srcset="")

            .header-clientPart__client
                img(src="./images/header/arrow-down.svg", alt="", srcset="").header-clientPart__client-img
                .header-clientPart__client-block
                  .header-clientPart__client-name Solomun777
                  .header-clientPart__client-status
                      | Game-master
                      span.percent 78%
                .header-clientPart__avatar
                    img(src="", alt="").header-clientPart__img