.left-panel
      .left-panel__logo
          img(src="./images/left-panel/top-W.png", alt="", srcset="").imgPanel.img1
          img(src="./images/left-panel/top-W2.png", alt="", srcset="").imgPanel.img2
          img(src="./images/left-panel/Group 1204.png", alt="", srcset="").imgPanel.img3
          img(src="./images/left-panel/Group 1203.png", alt="", srcset="").imgPanel.img4

          .circle.circle-1
          .circle.circle-2
          .circle.circle-3

      ul.left-panel-ul
        li.left-panel__item
            svg.left-panel__icon
                use(xlink:href='#Group1363')
            p.text Dividends
        li.left-panel__item
            svg.left-panel__icon
                use(xlink:href='#Group1363')
            p.text BFG Token
        li.left-panel__item
            svg.left-panel__icon
                use(xlink:href='#Group1363')
            p.text Cashback
        li.left-panel__item
            svg.left-panel__icon
                use(xlink:href='#Group1363')
            p.text Promotions
        li.left-panel__item
            svg.left-panel__icon
                use(xlink:href='#Group1363')
            p.text Blog

      .left-panel-country
            img(src="./images/left-panel/english.png", alt="", srcset="")
            p.text English
            img(src="./images/left-panel/arrow-down.svg", alt="", srcset="")