section.s-staking
          .s-staking-xxx-tokkens ALL MY XXX TOKENS:
            span.tokken  12 000 000 000
          .s-staking-block.flex-direction

              .s-staking-blockMini
                  h2.s-staking-blockMini__title my tokens
                  .s-staking-blockMini__price 100 000 000.00
                  .s-staking-blockMini__value XXX (BTC)

              .s-staking-blockMini
                  .d-flex.justify-content-sb.s-staking-blockMini-mb
                      h2.s-staking-blockMini__title.s-staking-blockMini__titleMB MY PROFIT
                      .s-dividentsPool-Profit__select.s-dividentsPool-Profit__select-width
                        .d-flex
                            | Day
                  .s-staking-blockMini__table

                      div
                       .d-flex
                          img(src="./images/main-Dividents-pool/1-3.png", alt="", srcset="").image
                          | 0.000123459

                      div
                        .d-flex
                          img(src="./images/main-Dividents-pool/3-1.png", alt="", srcset="").image
                          | 880.51
                          span.rest 0000

                      div
                        .d-flex
                          img(src="./images/main-Dividents-pool/2-1.png", alt="", srcset="").image
                          | 19908.51
                          span.rest 000

                      div
                        .d-flex
                          img(src="./images/main-Dividents-pool/4-1.png", alt="", srcset="").image
                          | 12000.5
                          span.rest 000

              .s-staking-blockMini
                .s-staking-blockMini-month
                    | APR
                    span(title="fsdfsdfsdfsdf").prompt
                        img(src="./images/main-XXX-TOKEN/g8.svg", alt="")

                .s-staking-blockMini-procent 650 %

          .s-staking-block.flex-direction
              .s-staking-blockMini
                  h2.s-staking-blockMini__title my tokens
                  .s-staking-blockMini__price 1 000.00
                  .s-staking-blockMini__value XXX (TRX)

              .s-staking-blockMini
                  .d-flex.justify-content-sb.s-staking-blockMini-mb
                      h2.s-staking-blockMini__title.s-staking-blockMini__titleMB MY PROFIT
                      .s-dividentsPool-Profit__select.s-dividentsPool-Profit__select-width
                        .d-flex
                            | Day
                  .s-staking-blockMini__table

                      div
                       .d-flex
                          img(src="./images/main-Dividents-pool/1-3.png", alt="", srcset="").image
                          | 0.000123459

                      div
                        .d-flex
                          img(src="./images/main-Dividents-pool/3-1.png", alt="", srcset="").image
                          | 880.51
                          span.rest 0000

                      div
                        .d-flex
                          img(src="./images/main-Dividents-pool/2-1.png", alt="", srcset="").image
                          | 19908.51
                          span.rest 000

                      div
                        .d-flex
                          img(src="./images/main-Dividents-pool/4-1.png", alt="", srcset="").image
                          | 12000.5
                          span.rest 000

              .s-staking-blockMini
                .s-staking-blockMini-month
                    | APR
                    span(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis distinctio, velit, perferendis exercitationem recusandae doloremque dolore repudiandae quaerat porro autem, ea asperiores neque corporis ut! Porro minima suscipit similique perspiciatis?").dist
                        img(src="./images/main-XXX-TOKEN/g8.svg", alt="", srcset="").image

                .s-staking-blockMini-procent 650 %
