section.s-dividentsPool

        .d-flex.s-dividentsPool-mb.flex-direction.justify-content-sb

          .s-dividentsPool-block
              ul.s-dividentsPool-ul
                li.s-dividentsPool-item 
                    img(src="./images/main-Dividents-pool/1.png", alt="", srcset="").first-oneImg
                    .s-dividentsPool-item__block-price 
                        span.s-dividentsPool-item__first-price 244
                        |.21073457
                        span.s-dividentsPool-item__valus BTC
                        .s-dividentsPool-item__last-price $1 920 000
                li.s-dividentsPool-item
                    img(src="./images/main-Dividents-pool/2.png", alt="", srcset="")
                    .s-dividentsPool-item__block-price 
                        | 13 350 734
                        span.s-dividentsPool-item__lastPrice .21
                        span.s-dividentsPool-item__values TRX
                        .s-dividentsPool-item__last-price.dallrai $1 920 000
                li.s-dividentsPool-item
                    img(src="./images/main-Dividents-pool/3.png", alt="", srcset="")
                    .s-dividentsPool-item__block-price 
                        | 13 734
                        span.s-dividentsPool-item__lastPrice .21
                        span.s-dividentsPool-item__values USDT
                        .s-dividentsPool-item__last-price.dallrai $1 920 000
                li.s-dividentsPool-item
                    img(src="./images/main-Dividents-pool/4.png", alt="", srcset="")
                    .s-dividentsPool-item__block-price 
                        | 13 734
                        span.s-dividentsPool-item__lastPrice .21
                        span.s-dividentsPool-item__values BTT
                        .s-dividentsPool-item__last-price.dallrai $1 920 000
              
              .s-dividentsPool-distribution
                    | Distribution after:
                    span 12:54:08

              .s-dividentsPool-ellipse
                    img(src="./images/main-Dividents-pool/Ellipse 45.png", alt="", srcset="")
                    
              .s-dividentsPool-ellipse
                    img(src="./images/main-Dividents-pool/Ellipse 46.png", alt="", srcset="")

              .s-dividentsPool-ellipse
                    img(src="./images/main-Dividents-pool/Ellipse 47.png", alt="", srcset="")

              .s-dividentsPool-ellipse
                    img(src="./images/main-Dividents-pool/Ellipse 48.png", alt="", srcset="")

          .s-dividentsPool-block
              ul.s-dividentsPool-ul
                    li.s-dividentsPool-item.s-dividentsPool-item2 My balance

                    li.s-dividentsPool-item
                        img(src="./images/main-Dividents-pool/1-2.png", alt="", srcset="")
                        .s-dividentsPool-item__block-price 
                            | 13 350 734
                            span.s-dividentsPool-item__lastPrice .21
                            span.s-dividentsPool-item__values BTC
                            .s-dividentsPool-item__last-price.dallrai $1 920 000
                    li.s-dividentsPool-item
                        img(src="./images/main-Dividents-pool/2.png", alt="", srcset="")
                        .s-dividentsPool-item__block-price 
                            | 13 350 734
                            span.s-dividentsPool-item__lastPrice .21
                            span.s-dividentsPool-item__values TRX
                            .s-dividentsPool-item__last-price.dallrai $1 920 000
                    li.s-dividentsPool-item
                        img(src="./images/main-Dividents-pool/3.png", alt="", srcset="")
                        .s-dividentsPool-item__block-price 
                            | 13 734
                            span.s-dividentsPool-item__lastPrice .21
                            span.s-dividentsPool-item__values USDT
                            .s-dividentsPool-item__last-price.dallrai $1 920 000
                    li.s-dividentsPool-item
                        img(src="./images/main-Dividents-pool/4.png", alt="", srcset="")
                        .s-dividentsPool-item__block-price 
                            | 1983 734
                            span.s-dividentsPool-item__lastPrice .21
                            span.s-dividentsPool-item__values BTT
                            .s-dividentsPool-item__last-price.dallrai
              
              .s-dividentsPool-button-bl
                    button.s-dividentsPool-button Witchdraw 
                          
              .s-dividentsPool-ellipse.one
                    img(src="./images/main-Dividents-pool/Слой 7 1.png", alt="", srcset="")
                    
              .s-dividentsPool-ellipse
                    img(src="./images/main-Dividents-pool/Ellipse 63.png", alt="", srcset="")

        .s-dividentsPool-Profit
            .d-flex.flex-direction.justify-content-sb
                .s-dividentsPool-Profit-choose

                    .d-flex.s-dividentsPool-Profit-mb
                        img(src="./images/main-Dividents-pool/XXX Token 1.png", alt="")
                        .s-dividentsPool-Profit-block
                            h2.s-dividentsPool-Profit__title Estimated profit
                            p.s-dividentsPool-Profit__subtitle Сhoose token and its quantity
                    
                    .s-dividentsPool-Profit__select.s-dividentsPool-Profit-mb
                        .d-flex
                            img(src="./images/main-Dividents-pool/XXX Token 1-2.png", alt="", srcset="")
                            | 500 k XXX 
                            span  (TRX)
                        
                    .s-dividentsPool-Profit-procentBlock
                        .d-flex
                            .s-dividentsPool-Profit-procent
                                .s-dividentsPool-Profit-procent__monthDay APR
                                .s-dividentsPool-Profit-procDays 650  %

                            .s-dividentsPool-Profit-days
                                .s-dividentsPool-Profit-procent__monthDay ROI
                                .s-dividentsPool-Profit-procDays 230 Days
                                        
                .s-dividentsPool-Profit-table
                    .table__title In a day:
                    .table__title Per month:
                    .table__title.displayNone Per quarter:

                    .table__item
                     img(src="./images/main-Dividents-pool/1-3.png", alt="", srcset="") 
                     |0.000123459
                    div 0.00012345
                    div.displayNone 0.00012345

                    .table__item
                        img(src="./images/main-Dividents-pool/2-1.png", alt="", srcset="") 
                        |19908.51
                        span 000
                    div 600 908.51
                        span 0
                    div.displayNone 1800908.51

                    .table__item
                        img(src="./images/main-Dividents-pool/3-1.png", alt="", srcset="") 
                        |880.5100
                        span 000
                    div 26000.51
                        span 00
                    div.displayNone 78000.51
                        span 00

                    .table__item
                        img(src="./images/main-Dividents-pool/4-1.png", alt="", srcset="") 
                        |880.5100
                        span 000
                    div 26000.51
                        span 00
                    div.displayNone 78000.51
                        span 00