section.s-dashboard.flex-direction

          .s-dashboard-history
              .s-dashboard-history__header.flex-direction.flex-direction-column
                      .s-dashboard-history__title
                          | divs HISTORY
                      .s-dashboard-history__select
                          .d-flex
                              img(src='./images/main-Dividents-pool/XXX Token 1-2.png', alt='', srcset='')
                              | XXX
                              span (TRX)

              .s-dashboard__choose
                  span.active ALL DIVIDENDS

                  span my DIVIDENDS

              .s-dashboard-table
                  .s-dashboard-table__header
                      .s-dashboard-table__header-item Date
                      .s-dashboard-table__header-item Distribution
                      .s-dashboard-table__header-item Frozen Tokens
                      .s-dashboard-table__header-item 100k XXX(TRX)

                  .s-dashboard-table__data
                      .s-dashboard-table__item 22.04
                      .s-dashboard-table__item
                            img(src='./images/main-Dividents-pool/1-3.png', alt='')
                            | 0.000 12345

                      .s-dashboard-table__item
                          img(src='./images/main-Dashboard/Group 1755.png', alt='')
                          | 1200 kk
                      .s-dashboard-table__item
                          img(src='./images/main-Dividents-pool/1-3.png', alt='')
                          | 0.00012345

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/1-3.png', alt='')
                                | 0.000 12345
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/1-3.png', alt='')
                              | 0.00012345

                  .s-dashboard-table__data
                      .s-dashboard-table__item 22.04
                      .s-dashboard-table__item
                            img(src='./images/main-Dividents-pool/1-3.png', alt='')
                            | 0.000 12345

                      .s-dashboard-table__item
                          img(src='./images/main-Dashboard/Group 1755.png', alt='')
                          | 1200 kk
                      .s-dashboard-table__item
                          img(src='./images/main-Dividents-pool/1-3.png', alt='')
                          | 0.00012345

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/2-1.png', alt='')
                                | 19908.5100
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/2-1.png', alt='')
                              | 0.00012345
                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/3-1.png', alt='')
                                | 880.510000
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/3-1.png', alt='')
                              | 19908.5100

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/4-1.png', alt='')
                                |
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/4-1.png', alt='')
                              | 12000.5100

                  .s-dashboard-table__data
                      .s-dashboard-table__item 22.04
                      .s-dashboard-table__item
                            img(src='./images/main-Dividents-pool/1-3.png', alt='')
                            | 0.000 12345

                      .s-dashboard-table__item
                          img(src='./images/main-Dashboard/Group 1755.png', alt='')
                          | 1200 kk
                      .s-dashboard-table__item
                          img(src='./images/main-Dividents-pool/1-3.png', alt='')
                          | 0.00012345

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/2-1.png', alt='')
                                | 19908.5100
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/2-1.png', alt='')
                              | 0.00012345
                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/3-1.png', alt='')
                                | 880.510000
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/3-1.png', alt='')
                              | 19908.5100

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/4-1.png', alt='')
                                |
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/4-1.png', alt='')
                              | 12000.5100
                  .s-dashboard-table__data
                      .s-dashboard-table__item 22.04
                      .s-dashboard-table__item
                            img(src='./images/main-Dividents-pool/1-3.png', alt='')
                            | 0.000 12345

                      .s-dashboard-table__item
                          img(src='./images/main-Dashboard/Group 1755.png', alt='')
                          | 1200 kk
                      .s-dashboard-table__item
                          img(src='./images/main-Dividents-pool/1-3.png', alt='')
                          | 0.00012345

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/2-1.png', alt='')
                                | 19908.5100
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/2-1.png', alt='')
                              | 0.00012345
                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/3-1.png', alt='')
                                | 880.510000
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/3-1.png', alt='')
                              | 19908.5100

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/4-1.png', alt='')
                                |
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/4-1.png', alt='')
                              | 12000.5100
                  .s-dashboard-table__data
                      .s-dashboard-table__item 22.04
                      .s-dashboard-table__item
                            img(src='./images/main-Dividents-pool/1-3.png', alt='')
                            | 0.000 12345

                      .s-dashboard-table__item
                          img(src='./images/main-Dashboard/Group 1755.png', alt='')
                          | 1200 kk
                      .s-dashboard-table__item
                          img(src='./images/main-Dividents-pool/1-3.png', alt='')
                          | 0.00012345

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/2-1.png', alt='')
                                | 19908.5100
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/2-1.png', alt='')
                              | 0.00012345
                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/3-1.png', alt='')
                                | 880.510000
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/3-1.png', alt='')
                              | 19908.5100

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/4-1.png', alt='')
                                |
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/4-1.png', alt='')
                              | 12000.5100
                  .s-dashboard-table__data
                      .s-dashboard-table__item 22.04
                      .s-dashboard-table__item
                            img(src='./images/main-Dividents-pool/1-3.png', alt='')
                            | 0.000 12345

                      .s-dashboard-table__item
                          img(src='./images/main-Dashboard/Group 1755.png', alt='')
                          | 1200 kk
                      .s-dashboard-table__item
                          img(src='./images/main-Dividents-pool/1-3.png', alt='')
                          | 0.00012345

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/2-1.png', alt='')
                                | 19908.5100
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/2-1.png', alt='')
                              | 0.00012345
                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/3-1.png', alt='')
                                | 880.510000
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/3-1.png', alt='')
                              | 19908.5100

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/4-1.png', alt='')
                                |
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/4-1.png', alt='')
                              | 12000.5100
                  .s-dashboard-table__data
                      .s-dashboard-table__item 22.04
                      .s-dashboard-table__item
                            img(src='./images/main-Dividents-pool/1-3.png', alt='')
                            | 0.000 12345

                      .s-dashboard-table__item
                          img(src='./images/main-Dashboard/Group 1755.png', alt='')
                          | 1200 kk
                      .s-dashboard-table__item
                          img(src='./images/main-Dividents-pool/1-3.png', alt='')
                          | 0.00012345

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/2-1.png', alt='')
                                | 19908.5100
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/2-1.png', alt='')
                              | 0.00012345
                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/3-1.png', alt='')
                                | 880.510000
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/3-1.png', alt='')
                              | 19908.5100

                      .s-dashboard-table__itemHover
                          .s-dashboard-table__item
                          .s-dashboard-table__item
                                img(src='./images/main-Dividents-pool/4-1.png', alt='')
                                |
                          .s-dashboard-table__item

                          .s-dashboard-table__item
                              img(src='./images/main-Dividents-pool/4-1.png', alt='')
                              | 12000.5100

          .s-dashboard-totalPaid
                .s-dashboard-totalPaid__header
                       | TOTAL DIVIDEND PAID:
                .d-flex.justify-content-sb.mb-20.flex-direction.flex-direction-column
                    .s-dashboard-totalPaid__price
                          | 100 450 334
                          span TRX
                          .priceMiniBlock $1 920 000

                    .s-dashboard-totalPaid__select
                          img(src='./images/main-Dividents-pool/3-1.png', alt='')
                          | Bittorent

                .s-dashboard-totalPaid__graphic
                      img(src="./images/main-Dashboard/Group 1767.png", alt="")

                .s-dashboard-totalPaid__inMonth
                        .s-dashboard-totalPaid__inMonth__preMonth Per month:
                        .s-dashboard-totalPaid__inMonth__date 12 Apr - 15 Apr
                        .s-dashboard-totalPaid__inMonth__periud 1D
                        .s-dashboard-totalPaid__inMonth__periud.active 1W
                        .s-dashboard-totalPaid__inMonth__periud 1M
                        .s-dashboard-totalPaid__inMonth__periud 1Q

                .s-dashboard-totalPaid__rz-slider
                      .s-dashboard-totalPaid__rz-slider__block
                            .s-dashboard-totalPaid__rz-slider__range-button.left
                            .s-dashboard-totalPaid__rz-slider__range-button.right
                            .s-dashboard-totalPaid__rz-slider__line
                            .s-dashboard-totalPaid__rz-slider__date 12 Apr - 15 Apr