section.s-xxxToken

       .s-xxxToken-priseChanges
            .s-xxxToken-priseChanges__price
                | Prise changes:
                span 2 567 296.37 / 50 000 000.00

            .s-xxxToken-priseChanges__line
                .s-xxxToken-priseChanges__greenLine
                .s-xxxToken-priseChanges__arrowUP

       .d-flex.justify-content-sb.aling-itemsUnsert.flex-direction
           .s-xxxToken-miningPrice
              h2.s-xxxToken-miningPrice__title MINING PRICE 1 XXX
              .d-flex.flex-direction.flex-direction-column
                  .s-xxxToken-miningPrice-InHouseGame
                      .s-xxxToken-miningPrice-InHouseGame__item
                          .d-flex
                            img(src="./images/main-XXX-TOKEN/Group1364.svg", alt="")
                            | In House game

                      .s-xxxToken-miningPrice-InHouseGame__item
                          .d-flex
                            img(src="./images/main-Dividents-pool/1-3.png", alt="")
                            | 0.000123
                            span BTC

                      .s-xxxToken-miningPrice-InHouseGame__item
                          .d-flex
                            img(src="./images/main-Dividents-pool/2-1.png", alt="")
                            | 49.5
                            span TRX

                  .s-xxxToken-miningPrice-Slots
                      .s-xxxToken-miningPrice-InHouseGame__item
                          .d-flex
                            img(src="./images/main-XXX-TOKEN/Group1364.svg", alt="")
                            | Slots

                      .s-xxxToken-miningPrice-InHouseGame__item
                          .d-flex
                            img(src="./images/main-Dividents-pool/1-3.png", alt="")
                            | 0.000123
                            span BTC

                      .s-xxxToken-miningPrice-InHouseGame__item
                          .d-flex
                            img(src="./images/main-Dividents-pool/2-1.png", alt="")
                            | 49.5
                            span TRX

           .s-xxxToken-TokenDETAILS
               h2.s-xxxToken-TokenDETAILS__title TOKEN DETAILS:

               .d-flex.justify-content-sb
                    ul
                        li.s-xxxToken-TokenDETAILS__item
                            span.span-1 Max supply:

                        li.s-xxxToken-TokenDETAILS__item
                            span.span-1 Total mined:

                        li.s-xxxToken-TokenDETAILS__item
                            span.span-1 Total frozen:

                    ul
                        li.s-xxxToken-TokenDETAILS__item
                            | 5 000 000 000
                            span.span-2 XXX

                        li.s-xxxToken-TokenDETAILS__item
                            | 1 245 000 000
                            span.span-2 XXX
                            span(title="fsdfsdfsdfsdf").prompt
                                img(src="./images/main-XXX-TOKEN/g8.svg", alt="")

                        li.s-xxxToken-TokenDETAILS__item
                            | 999 000 000
                            span.span-2 XXX
                            span(title="fsdfsdfsdfsdf").prompt
                                img(src="./images/main-XXX-TOKEN/g8.svg", alt="")